
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font family : work san */

.{
    margin: 0px;
    padding: 0px;
}

#hero{
    height: 468px;
    background-image: 
    linear-gradient(00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 521px;
    margin: 0 auto;
}

#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 8px;

}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
}

#hero .hero-content .description{
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 16px;
}

.btn {
padding: 12px 16px 12px 16px;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(82, 195, 3);
cursor: pointer;
}

.btn-content{
    text-align: center;
}


#card-box{
    width: 660px;
    margin: 80px auto;
}
.card-container{
    margin-top: 24px ;
    display: flex;
    justify-content: space-between;
    gap: 300px; 
    /* problem : gap boro howar karone width bare */
    font-family: Work Sans;

}
#card-box .title{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}

#card-box .subtitle{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;

}

.card{
    max-width: 212px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.card .image-box{
    width: 212px;
}

.card .card-box img{
    width: 100%;
}

.card .shop{
padding: 7px 16px 7px 16px;
border-radius: 8px;
background: rgba(82, 195, 3, 0.15);
}
